{% extends 'base.html.twig' %}

{% block body %}
    <h2>Example Symfony3 project based on spid-symfony-bundle</h2>
    <ul>
        <li>Source code available <a href="https://github.com/simevo/spid-symfony3-example">here</a>
        <li>Symfony version: {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</li>
        <li>Running from base dir: <code>{{ base_dir }}</code></li>
        <li>Symfony documentation available <a href="https://symfony.com/doc/{{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')[:3] }}">here</a></li>
    </ul>
    <hr/>
    <ul>
        <li><a href="/reserved">Reserved area</a></li>
        <li><a href="/login/testenv2">Login with testenv2</a></li>
        <li><a href="/login/idp_1">Login with https://identity.infocert.it</a></li>
        <li><a href="/login?idp=idp_2">Login with https://posteid.poste.it</a></li>
        <li><a href="/login?idp=idp_3">Login with https://login.id.tim.it/affwebservices/public/saml2sso</a></li>
        <li><a href="/login?idp=idp_4">Login with https://identity.sieltecloud.it</a></li>
        <li><a href="/login?idp=idp_5">Login with https://loginspid.aruba.it</a></li>
        <li><a href="/login?idp=idp_6">Login with https://idp.namirialtsp.com/idp</a></li>
        <li><a href="/login?idp=idp_7">Login with https://spid.register.it</a></li>
        <li><a href="/login?idp=idp_8">Login with https://spid.intesa.it</a></li>
        <li><a href="/acs">Acs</a></li>
        <li><a href="/metadata">Service metadata</a></li>
    </ul>
{% endblock %}

{% block title %}Homepage{% endblock %}
