{% extends 'base.html.twig' %}

{% block body %}
    <h2>Example Symfony3 project based on spid-symfony-bundle</h2>
    <div>
        Really reserved stuff here !
    </div>
    <hr/>
    <ul>
        <li><a href="/">Homepage</a></li>
    </ul>
{% endblock %}

{% block title %}Reserved area{% endblock %}
